<div class="accordion" id="id_accordion-payment">
    <div class="accordion__header">
        <div class="accordion__header__container">
            <div class="accordion__header--icon">
                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="credit-card"
                    class="svg-inline--fa fa-credit-card fa-w-18" role="img" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 576 512">
                    <path fill="currentColor"
                        d="M0 432c0 26.5 21.5 48 48 48h480c26.5 0 48-21.5 48-48V256H0v176zm192-68c0-6.6 5.4-12 12-12h136c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12H204c-6.6 0-12-5.4-12-12v-40zm-128 0c0-6.6 5.4-12 12-12h72c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12H76c-6.6 0-12-5.4-12-12v-40zM576 80v48H0V80c0-26.5 21.5-48 48-48h480c26.5 0 48 21.5 48 48z">
                    </path>
                </svg>
            </div>
            <header class="accordion__header--name">PAYMENT METHOD</header>
            <div class="flex accordion--info fs-14 fw-500">
                <div class="accordion--info1">
                {% if request.user.is_authenticated %}
                    <span>Pay with Credit or Debit Card</span>
                {% else %}
                    <span>Login to your account to make payment</span>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="accordion__content accordion--show">
        {% include 'payment/payment_card.html' %}
    </div>
</div>

{% comment %} 
{% block icon %}
<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="credit-card"
    class="svg-inline--fa fa-credit-card fa-w-18" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
    <path fill="currentColor"
        d="M0 432c0 26.5 21.5 48 48 48h480c26.5 0 48-21.5 48-48V256H0v176zm192-68c0-6.6 5.4-12 12-12h136c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12H204c-6.6 0-12-5.4-12-12v-40zm-128 0c0-6.6 5.4-12 12-12h72c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12H76c-6.6 0-12-5.4-12-12v-40zM576 80v48H0V80c0-26.5 21.5-48 48-48h480c26.5 0 48 21.5 48 48z">
    </path>
</svg>
{% endblock icon %}

{% block header_name %}
PAYMENT METHOD
{% endblock header_name %}

{% block info %}
<div class="flex accordion__header--info">
    <div class="accordion__header--info1">
        <span>Credit or Debit Card</span>
    </div>
</div>
{% endblock info %}

{% block content %}
{% include 'payment/payment_home.html' %}
{% endblock content %} {% endcomment %}