{% extends 'base.html' %}
{% load static %}
{% block title %}
Reset Password
{% endblock title %}


{% block body %}
{% if user.is_authenticated %}
    <script>
        window.loaction.href = '{% url 'account:profile:dashboard' %}'
    </script>
{% endif %}
<div class='form-container password-reset'>
    <header class="form__header page-header">
        <h2 class="fw-500">Reset Password</h2>
        <p>Enter your email to request a password reset link.</p>
    </header>
    {% include 'includes/form/non_field_error.html' %}
    <form action="{% url 'account:reset_password' %}" method="post" class="form">
        {% include 'includes/form/snippet.html' %}
        <div class="form__btn">
            <button type="submit" class="form__btn--submit button button-primary-bg">Send Link</button>
        </div>
    </form>
</div>
{% endblock body %}