<footer>
    <section class="section__newsletter">
        <div class="container-width section__newsletter--container">
            <div class="newsletter-message">
                <h2 class="fw-500">Join Our Newsletter</h2>
                <div>Signup to be the first to hear about exclusive deals, special offers and upcoming collections</div>
            </div>
            <div class="newsletter-form">
                {% include 'newsletter/subscription_form.html' %}
            </div>
        </div>
    </section>
    <main class="container-width">
        <section class="section--footer-links flex">
            <div class="footer-col">
                <header class="footer-col--header">
                    <h1>FakeBookStore</h1>
                </header>
                <div class="footer-col--wrapper fs-14">
                    <div class="footer-col--wrapper--address">
                        <div>1418 River Drive, Suite 35 Cottonhall, CA 9622</div>
                        <div>United States</div>
                    </div>
                    <div class="footer-col--wrapper--contact">
                        <div>sale@bookworm.com</div>
                        <div>+1 246-345-0695</div>
                    </div>
                </div>
            </div>
            <div class="footer-col">
                <header class="footer-col--header">
                    <h3 class="fw-500 tc-dark"> Explore</h3>
                </header>
                <ul class="footer-col--wrapper fs-14">
                    <li><a href="">About us</a></li>
                    <li><a href="">Sitemap</a></li>
                    <li><a href="">Bookmarks</a></li>
                    <li><a href="">Sign in/Join</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <header class="footer-col--header">
                    <h3 class="fw-500 tc-dark"> Customer Service</h3>
                </header>
                <ul class="footer-col--wrapper fs-14">
                    <li><a href="">Help Center</a></li>
                    <li><a href="">Returns</a></li>
                    <li><a href="">Product Recalls</a></li>
                    <li><a href="">Accessibility</a></li>
                    <li><a href="">Contact Us</a></li>
                    <li><a href="">Store Pickup</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <header class="footer-col--header">
                    <h3 class="fw-500 tc-dark"> Policy</h3>
                </header>
                <ul class="footer-col--wrapper fs-14">
                    <li><a href="">Return Policy</a></li>
                    <li><a href="">Terms of Use</a></li>
                    <li><a href="">Security</a></li>
                    <li><a href="">Policy</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <header class="footer-col--header">
                    <h3 class="fw-500 tc-dark"> Categories</h3>
                </header>
                <ul class="footer-col--wrapper fs-14">
                    {% for category in categories|slice:":6" %}
                    <li><a href="{{category.get_absolute_url}}">{{category.name|title}}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </section>
        <section class="section--copyright">
            <div class="fs-14">&copy;2021 FakeBookStore. All rights reserverd</div>
        </section>
    </main>
</footer>