<div class="m-menu" id="id_m-menu" data-nav="menu">
    <header class="m-menu--header flex justify-between center-align">
        <h2 class="fw-500 tc-dark">{{menu_header|upper}}</h2>
        <div id="id_m-menu-close" class="m-menu-icon m-menu--close-icon" data-action="close"
            onclick="toggleMobileMenu()">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-sm flex center-align">
                <path d="M0 0h24v24H0V0z" fill="none" />
                <path
                    d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z" />
            </svg>
        </div>
    </header>
    {% include menu_body_template %}
</div>