<div class="navbar__menu">
    <ul class="navbar__menu--wrapper flex center-align fs-14 fw-500 container-width">
        <li><a class="navbar__menu--link hover-bb" href="{% url 'store:index' %}">Home</a></li>
        <li><a class="navbar__menu--link hover-bb" href="{% url 'store:shop' %}">Shop</a></li>
        <li><a class="navbar__menu--link hover-bb" href="">Best Sellers</a></li>
        <li><a class="navbar__menu--link hover-bb" href="">Top Author</a></li>
        <li><a class="navbar__menu--link hover-bb" href="">Recommended</a></li>
    </ul>
</div>