{% load static %}
<header id="id_header">
    <nav id="id_nav" class="navbar container-width">
        <h1 id="id_logo" class="fw-500">
            <a href="/" class="tc-dark" style="font-size:2rem;">FBS</a>
        </h1>
        <div class='navbar__category' id="id_navbar-category-wrapper" data-type="dropdown"
            data-element-id="id_dropdown-category" onclick="dropdown.open(this)">
            <div class="navbar__category--btn flex justify-between center-align button">
                Select Genre
                <div class="navbar__category--dropdown-icon">
                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-down"
                        class="svg-inline--fa fa-chevron-down fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 448 512">
                        <path fill="currentColor"
                            d="M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z">
                        </path>
                    </svg>
                </div>
            </div>
            <div class='dropdown__container hide-dropdown' data-status="close" id="id_dropdown-category">
                {%load mptt_tags%}
                {% recursetree categories %}
                <div class='dropdown--item'>
                    <a href="{% url 'store:shop' %}?category={{node.slug}}&c_name={{node.name}}">
                        {{node.name|title}}
                    </a>
                </div>
                {% endrecursetree %}
            </div>
        </div>
        {% include 'includes/mobile_menu.html' with menu_header='Menu' menu_body_template='includes/mobile_menu_nav.html' %}
        <div class="navbar__search">
            {% include 'store/search/search_form.html' %}
        </div>
        <a href="{% url 'cart:cart' %}" role="button" type="button" title="Cart" class="navbar__cart flex center-align">
            <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" viewBox="0 0 24 24"
                class="icon-medium" fill="#000000">
                <g>
                    <rect fill="none" height="24" width="24" />
                    <path
                        d="M18,6h-2c0-2.21-1.79-4-4-4S8,3.79,8,6H6C4.9,6,4,6.9,4,8v12c0,1.1,0.9,2,2,2h12c1.1,0,2-0.9,2-2V8C20,6.9,19.1,6,18,6z M12,4c1.1,0,2,0.9,2,2h-4C10,4.9,10.9,4,12,4z M18,20H6V8h2v2c0,0.55,0.45,1,1,1s1-0.45,1-1V8h4v2c0,0.55,0.45,1,1,1s1-0.45,1-1V8 h2V20z" />
                </g>
            </svg>
            <div class='navbar__cart--quantity' data-qty={{cart.total_quantity}}>
                <span id='id_cart-quantity' class='cart-quantity tc-primary fw-500 fs-16'>
                    {{cart.total_quantity|default:""}}
                </span>
            </div>
            <div class="tc-light-dark navbar--link">
                <span class="block fs-12">Your Cart</span>
                <span class="block fs-16 fw-500 tc-dark sub-total">${{cart.get_total_price}}</span>
            </div>
        </a>
        <div class='navbar__auth'>
            {% if request.user.is_authenticated %}
            <div class="navbar__auth--profile flex center-align"
                {% if request.user.is_authenticated %}data-type="dropdown" data-element-id="id_dropdown-auth"
                {% endif %} onclick="dropdown.open(this)" title="profile dropdown">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon-medium" viewBox="0 0 24 24" fill="#000000">
                    <path d="M0 0h24v24H0V0z" fill="none" />
                    <path
                        d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zM7.07 18.28c.43-.9 3.05-1.78 4.93-1.78s4.51.88 4.93 1.78C15.57 19.36 13.86 20 12 20s-3.57-.64-4.93-1.72zm11.29-1.45c-1.43-1.74-4.9-2.33-6.36-2.33s-4.93.59-6.36 2.33C4.62 15.49 4 13.82 4 12c0-4.41 3.59-8 8-8s8 3.59 8 8c0 1.82-.62 3.49-1.64 4.83zM12 6c-1.94 0-3.5 1.56-3.5 3.5S10.06 13 12 13s3.5-1.56 3.5-3.5S13.94 6 12 6zm0 5c-.83 0-1.5-.67-1.5-1.5S11.17 8 12 8s1.5.67 1.5 1.5S12.83 11 12 11z" />
                </svg>
                <div class="tc-light-dark navbar--link">
                    <span class="block fs-12">Account</span>
                    <span class="block fs-16 fw-500 tc-dark">{{request.user|capfirst}}</span>
                </div>
            </div>
            <div class='dropdown__container' id="id_dropdown-auth">
                <div class='dropdown--item'>
                    <a href="{% url 'account:profile:dashboard' %}">Your Account</a>
                </div>
                <div class='dropdown--item'>
                    <a href="{% url 'order:all' %}">View Orders</a>
                </div>
                <div class='dropdown--item'>
                    <a href="{% url 'account:profile:edit_profile' username=request.user %}">Edit
                        Profile</a>
                </div>
                <div class='dropdown--item'>
                    <a href="{% url 'account:logout' %}">Logout</a>
                </div>
            </div>
            {% else %}
            <a class="navbar__auth--account flex center-align" href="{% url 'account:signup' %}" role='button'
                type='button'>
                <svg xmlns="http://www.w3.org/2000/svg" class="icon-medium" viewBox="0 0 24 24" fill="#000000">
                    <path d="M0 0h24v24H0V0z" fill="none" />
                    <path
                        d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zM7.07 18.28c.43-.9 3.05-1.78 4.93-1.78s4.51.88 4.93 1.78C15.57 19.36 13.86 20 12 20s-3.57-.64-4.93-1.72zm11.29-1.45c-1.43-1.74-4.9-2.33-6.36-2.33s-4.93.59-6.36 2.33C4.62 15.49 4 13.82 4 12c0-4.41 3.59-8 8-8s8 3.59 8 8c0 1.82-.62 3.49-1.64 4.83zM12 6c-1.94 0-3.5 1.56-3.5 3.5S10.06 13 12 13s3.5-1.56 3.5-3.5S13.94 6 12 6zm0 5c-.83 0-1.5-.67-1.5-1.5S11.17 8 12 8s1.5.67 1.5 1.5S12.83 11 12 11z" />
                </svg>
                <div class="tc-light-dark navbar--link">
                    <span class="block fs-12">SignIn</span>
                    <span class="block fs-16 fw-500 tc-dark">My Account</span>
                </div>
            </a>
            {% endif %}
        </div>
    </nav>
    {% include 'includes/navbar_menu.html' %}
</header>