<div class="slider">
    <div class="slider--content" id="id_slider">
        {% include 'includes/section/best_selling.html' with view_as="card-view" %}
    </div>
    <div class="flex justify-center">
        <div class="slider--left-arrow" id="id_left-arrow">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000">
                <path d="M0 0h24v24H0V0z" fill="none" opacity=".87" />
                <path d="M17.51 3.87L15.73 2.1 5.84 12l9.9 9.9 1.77-1.77L9.38 12l8.13-8.13z" /></svg>
        </div>
        <div class="slider--right-arrow" id="id_right-arrow">
            <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24"
                width="24px" fill="#000000">
                <g>
                    <path d="M0,0h24v24H0V0z" fill="none" />
                </g>
                <g>
                    <polygon points="6.23,20.23 8,22 18,12 8,2 6.23,3.77 14.46,12" />
                </g>
            </svg>
        </div>
    </div>
</div>

{% comment %} <script>
    const leftArrow = document.querySelector('#id_left-arrow')
    const rightArrow = document.querySelector('#id_right-arrow')

    const slider = document.querySelector('#id_slider')

    leftArrow.addEventListener('click', function () {
        const slider = document.querySelector('#id_slider')
        slider.scrollLeft -= 284.8
    })

    rightArrow.addEventListener('click', function () {
        const slider = document.querySelector('#id_slider')
        slider.scrollLeft += 284.8
    })
    // TODO: fix scroll width
</script> {% endcomment %}