{% extends 'base.html' %}
{% load static %}

{% block title %}
Signup
{% endblock title %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'stylesheets/account/account_form.css' %}">
{% endblock stylesheets %}

{% block body %}
<div class='form-container'>
    <header class="page-header">
        <h2 class="fw-500">Create New Account</h2>
        <p>Start shopping in a few clicks.</p>
    </header>
    {% include 'includes/form/non_field_error.html' %}
    <form action={{request.get_full_path}} method="post" class="form">
        {% include 'includes/form/snippet.html' %}
        <div class='form__option fs-14 fw-500'>
            <div class="form__option--checkbox flex">
                <input type="checkbox" name="remember-login" required id="id_remember-login">
                <label for="id_remember-login">I agree to accept companies 
                <a href="">Privacy Policy</a> and <a href="">Terms of Service</a></label>
            </div>
        </div>
        <div class="form__btn flex justify-between">
            <button type="submit" class="form__btn--submit button button-primary-bg">Create Account</button>
            <a href={% url 'account:login' %} role="button" class="form__btn--login button">Login</a>
        </div>
    </form>
</div>
{% endblock body %}