{% extends 'base.html' %}
{% load static %}
{% load tz %}

{% block title %}Order Confirmed{% endblock title %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'stylesheets/order/order_placed.css' %}">
{% endblock stylesheets %}

{% block body %}
<div class="content-container">
    <div class="order-confirm">
        <div class="order-confirm--message">
            <svg xmlns="http://www.w3.org/2000/svg" class="order-confirm--icon icon-medium" viewBox="0 0 24 24"
                fill="#000000">
                <path d="M0 0h24v24H0V0z" fill="none" />
                <path
                    d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm4.59-12.42L10 14.17l-2.59-2.58L6 13l4 4 8-8z" />
            </svg>
            <h1 class="fw-500">We've Recived Your Order</h1>
            <p>Your order has been confirmed. Thanks for purchasing.</p>
            <div class="order-confirm--return">
                <a class="button button-primary-bg" href="{% url 'order:details' order_key=order.order_key %}" role="button">View Orders</a>
            </div>
        </div>
    </div>
</div>
{% endblock body %}