$primary-green: #156B6A;
$primary: #156B6A;
$primary-low: #156b6a33;
$secondary-green: #dc965a;
$secondary: #dc965a;
$hover: #efa48b;
$secondary-green-light: #d5e5b5;
$text-light-dark: #6e6d7a;
$text-dark: #2C394B;
$text-light: #e7e7e9;
$text-white: #FAFAFA;
$white: #ffffff;
$text-link: #F1585B;
$error: #d11a2a;
$error-bg: #FFD2D2;
$success: #4F8A10;
$success-bg: #DFF2BF;
$warning: #9F6000;
$warning-bg: #FEEFB3;
$hint: #ffae42;

$font-serif: 'Lora', serif;
$font-primary: 'Poppins', sans-serif;



$breakpoint-ms: 375px;
$breakpoint-m: 463px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-wd: 1400px;

$m-menu-width: 26.5625rem;